// compass imports
@import "compass/css3";

// global variables
$font-family: arial;

// playlist menu variables
$playlist-menu-bgcolor: #274b6b;
$playlist-button-bgcolor: #ececec;

// playlist variables
$thumbnail-image-height: 142px;
$thumbnail-image-width: 250px;
$video-title-bgcolor: rgba(0, 0, 0, .65);


.section{
  border: 1px solid #dedede;
  height: 370px;
  margin: 0 auto;
  width: 940px;
}

.BrightcoveExperience {
   position: absolute;
  }

#playlist_player {
  float: left;
  height: 368px;
  width: 640px;
}

.playlist-item {
  float: left;
  padding: 10px 18px;
  font-size: x-small;
  cursor: pointer;
  overflow: hidden;
  position: relative;


  img{
    clear:left;
    float:left;
    height: $thumbnail-image-height;
    width: $thumbnail-image-width;
  }

  h6{
    background-color: $video-title-bgcolor;
    bottom: 10px;
    color: #fff;
    display: block;
    font-family: $font-family;
    font-size: 12px;
    font-weight: bold;
    left: 18px;
    margin: 0;
    padding:5px;
    position: absolute;
    width: 250px;
  }

  p{
    font-family: $font-family;
    font-size: 12px;
    margin: 0;
  }
}

.playlist-item-selected {
  color: #F5F5F5;
  background-color: #8e9090;
}


.duration{
  background-color: $video-title-bgcolor;
  color:#fff;
  display: inline-block;
  font-size: 10px !important;
  font-weight: bold !important;
  line-height: 1;
  padding:3px;
  position: absolute;
  right: 18px;
}

.playlist-btn {
  background: $playlist-button-bgcolor;
  border-top: 1px solid #dedede;
  color: rgba(0,0,0,1);
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 46px;
  margin: 0;
  padding: 0 10px;
  width: 298px;

  &:before{
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */  
  }

  &:hover{
    background: #556b7f;
    color: #fff;  
  }

  p{
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 32px;
    vertical-align: middle;
    text-transform: uppercase;  
  }
}

.playlist-btn-selected {
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  font-size: small;
  color: rgba(245,245,245,1);
  border: 1px solid rgba(154,154,154,1);
  background-color: #575758;
  display: block;
  width: 298px;
}

ul#BCL_playlistSelector{
  float: left;
  list-style: none;
  margin: 0;
  padding:0;
  width: 298px;

  >li{
    background: $playlist-menu-bgcolor;
    color: #fff;
    cursor:pointer;
    line-height: 0;
    padding:7px 0; 

    p{
      display: inline-block;
      font-family: $font-family;
      font-size: 12px;
      line-height: 1;
      margin: 0;
      padding:0;
      text-transform: uppercase;
      vertical-align: middle;
      width: 85%;

      -webkit-margin-before:0;
      -webkit-margin-after:0;
    }

    &:before{
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  img{
    margin:0 8px;
    vertical-align: middle;  
  }
}

#BCL_playlistSelectorDropDown {
  background: white;
  border-bottom: 1px solid #dedede;
  border-top: 0;
  display: none;
  font-family: $font-family;
  margin: 0px;
  padding: 0;
  position: absolute;
  width: 298px;
  z-index: 1;
}



#BCL_playlist {
  border-top: 0;
  float: left;
  height: 330px !important;
  padding:10px 0;
  width: 298px;
  overflow-y: scroll;
}