// Layout
$micrositeBodyWidth: 300px;
$micrositeBodyWidth640: 640px;
$micrositeBodyWidth960: 960px;
$micrositeBodyWidth1280: 1280px;

// Client Brand Colors
$clientPrimaryBrandColor: #fff;
$clientSecondaryBrandColor: #000;

// Base Styles
$heroPlayerWidth: 300px;

// heroImage and Overlay
$heroImageBkg: url("http://www.mdy.co.uk/site-images/corporate-commercial.jpg")no-repeat 0 0;
$overlayBkgColor: rgba(0,0,0,0);
$heroImageHeight: 200px;
$heroImageWidth: 300px;
$overlayLeftPosition: 0;
$overlayTopPosition: 0;
$overlayPadding:0;
$overlayWidth: 300px;
$overlayDurationColor: #fff;
$overlayDurationDisplay: none;
$overlayDurationBkgColor: rgba(0, 0, 0, 0.5);
$overlayDurationFontSize: 20px;
$overlayDurationMargin: 0;
$overlayDurationPadding: 15px;
$overlayTitleBkgColor: rgba(0, 0, 0, 0.5);
$overlayTitleFontColor: $clientPrimaryBrandColor;
$overlayTitleFontSize: 22px;
$overlayTitlePanelHeight: 165px;
$overlayTitlePadding: 20px;
$overlayTitleTextAlign: left;
$overlayTitleWidth: 300px;
$overlayCTABkgColor: $clientSecondaryBrandColor;
$overlayCTADisplay: block;
$overlayCTAFontColor: #fff;
$overlayCTAFontSize: 20px;
$overlayCTAHeight:35px;
$overlayCTAMargin: 0;
$overlayCTAPadding: 9px 15px;
$overlayCTATextAlign: center;
$overlayCTATextTransform: uppercase;
$overlayCTAWidth:100%;

// Video Player and Container
$playerContainerBkgColor: #465564;
$playerContainerHeight: 165px;
$playerContainerPadding: 0px;
$playerContainerWidth: 300px;

$videoPlayerWidth: 300px;
$videoPlayerHeight: ($videoPlayerWidth/16)*9;

// Playlist Items and Container Controls
$playlistContainerBkgColor: #ebebeb;
$playlistContainerPadding: 26px 10px;
$playlistContainerWidth: 300px;

$playlistItemWidth: 135px;
$playlistItemThumbnailBorder: 10px solid #e1e1e1;
$playlistItemSelectedThumbnailBorder: 10px solid #64ad31;
$playlistItemThumbnailHeight: 80px;
$playlistItemThumbnailMargin: 0 0 20px;
$playlistItemThumbnailWidth: 135px;

$playlistThumbnailOverlayBkg: rgba(0, 0, 0, 0.7);
$playlistThumbnailOverlayContent: ' ';
$playlistThumbnailOverlayDisplay: none;
$playlistThumbnailOverlayHeight: 80px;
$playlistThumbnailOverlayTopPosition: 0;
$playlistThumbnailOverlayPosition: absolute;
$playlistThumbnailOverlayBorderRadius: 0;
$playlistThumbnailOverlayWidth: 135px;
$playlistThumbnailOverlayLeftPosition: 0;

$nowPlayingBkgColor: rgba(0,0,0,.7);
$nowPlayingBorder:none;
$nowPlayingBorderRadius: 0;
$nowPlayingContent: "Now Playing";
$nowPlayingFontSize: 12px;
$nowPlayingHeight: 25px;
$nowPlayingLineHeight: 25px;
$nowPlayingLeftPosition:10px;
$nowPlayingMargin:-13px 0 0 -10px;
$nowPlayingPosition: absolute;
$nowPlayingTextAlign: center;
$nowPlayingTextTransform: uppercase;
$nowPlayingTopPosition:50%;
$nowPlayingWidth: 115px;

$playlistThumbnailPlayIconBkg: rgba(0,0,0,.6);
$playlistThumbnailPlayIconContent: '\e001';
$playlistThumbnailPlayIconBorderRadius: 50px;
$playlistThumbnailPlayIconFont: VideoJS;
$playlistThumbnailPlayIconFontSize: 20px;
$playlistThumbnailPlayIconHeight: 50px;
$playlistThumbnailPlayIconMargin: -25px 0 0 -25px;
$playlistThumbnailPlayIconLeft: 50%;
$playlistThumbnailPlayIconLineHeight: 50px;
$playlistThumbnailPlayIconPosition: absolute;
$playlistThumbnailPlayIconTextAlign: center;
$playlistThumbnailPlayIconTopPosition: 50%;
$playlistThumbnailPlayIconWidth: 50px;

$playlistItemDescriptionColor: #333;
$playlistItemDescriptionFontSize: 16px;
$playlistItemDescriptionHeight: auto;
$playlistItemDescriptionLineHeight: normal;
$playlistItemDescriptionMargin: 0 0 30px;
$playlistItemDescriptionOverflow: visible;
$playlistItemDescriptionPadding: 0;
$playlistItemDescriptionPosition: relative;
$playlistItemDescriptionTopPosition: 0;

$playlistDurationBottomPosition: 0;
$playlistDurationLeftPosition: 0;
$playlistDurationRightPosition: inherit;
$playlistDurationTopPosition: inherit;

// Video Count, Controls and Container
$playlistInfoBkgColor: #ddd;
$playlistInfoDisplay: block;
$playlistInfoHeight: auto;
$playlistInfoLineHeight: 1;
$playlistInfoMargin: 0 auto;
$playlistInfoPosition: relative;
$playlistInfoTextAlign: center;
$playlistInfoWidth: 300px;

$playlistControlBkgColor: none;
$playlistControlsDisplay: inline-block;
$playlistNextControlBorder: 1px solid #333;
$playlistNextControlRightPosition: 0px;
$playlistPrevControlBorder: 1px solid #333;
$playlistPrevControlLeftPosition: 0px;
$playlistControlsColor: $clientPrimaryBrandColor;
$playlistControlsDisabledBkgColor: none;
$playlistControlsDisabledColor: #666;
$playlistControlHeight: 22px;
$playlistControlWidth: 30px;
$playlistControlsPadding: 3px 0 0;
$playlistControlsPosition: relative;

$playlistItemCountFontColor: #333;
$playlistItemCountDisplay: inline-block;
$playlistItemCountPadding: 10px 30px;
$playlistItemCountTextAlignment: center;
$playlistItemCountTextTransform: uppercase;

// @640

// @960

// @1280

// heroImage and Overlay
$heroPlayerWidth: 1280px;

$heroImageHeight1280: 490px;
$heroImageWidth1280: 1180px;
$overlayLeftPosition1280: 0;
$overlayTopPosition1280: 0;
$overlayPadding1280:0;
$overlayWidth1280: 300px;
$overlayDurationDisplay1280: block;
$overlayDurationBkgColor1280: rgba(0, 0, 0, 0.5);
$overlayDurationFontSize1280: 20px;
$overlayDurationPadding1280: 15px;
$overlayTitleBkgColor1280: rgba(0, 0, 0, 0.25);
$overlayTitleFontSize1280: 32px;
$overlayTitlePanelHeight1280: 389px;
$overlayTitlePadding1280: 20px;
$overlayCTAFontSize1280: 20px;
$overlayCTAHeight1280:50px;
$overlayCTAPadding1280: 15px;

// Video Player and Container
$playerContainerHeight1280: 490px;
$playerContainerPadding1280: 20px;
$playerContainerWidth1280: 1180px;

$videoPlayerWidth1280: 780px;
$videoPlayerHeight1280: ($videoPlayerWidth1280/16)*9;

// Playlist Items and Container Controls
$playlistContainerPadding1280: 26px 10px;
$playlistContainerWidth1280: 1180px;

$playlistItemWidth1280: 250px;
$playlistItemThumbnailBorder1280: 10px solid #e1e1e1;
$playlistItemSelectedThumbnailBorder1280: 10px solid #64ad31;
$playlistItemThumbnailHeight1280: 140px;
$playlistItemThumbnailMargin1280: 0 0 20px;
$playlistItemThumbnailWidth1280: 250px;

$playlistThumbnailOverlayBkg1280: rgba(0, 0, 0, 0.7);
$playlistThumbnailOverlayContent1280: ' ';
$playlistThumbnailOverlayDisplay1280: none;
$playlistThumbnailOverlayHeight1280: 143px;
$playlistThumbnailOverlayTopPosition1280: 0;
$playlistThumbnailOverlayPosition1280: absolute;
$playlistThumbnailOverlayBorderRadius1280: 0;
$playlistThumbnailOverlayWidth1280: 258px;
$playlistThumbnailOverlayLeftPosition1280: 0;

$nowPlayingBkgColor1280: rgba(0,0,0,.7);
$nowPlayingBorder1280:none;
$nowPlayingBorderRadius1280: 0;
$nowPlayingContent1280: "Now Playing";
$nowPlayingFontSize1280: 16px;
$nowPlayingHeight1280: 45px;
$nowPlayingLineHeight1280: 45px;
$nowPlayingLeftPosition1280:10px;
$nowPlayingMargin1280:-22px 0 0 -10px;
$nowPlayingPosition1280: absolute;
$nowPlayingTextAlign1280: center;
$nowPlayingTextTransform1280: uppercase;
$nowPlayingTopPosition1280:50%;
$nowPlayingWidth1280: 230px;

$playlistThumbnailPlayIconBkg1280: rgba(0,0,0,.6);
$playlistThumbnailPlayIconContent1280: '\e001';
$playlistThumbnailPlayIconBorderRadius1280: 50px;
$playlistThumbnailPlayIconFont1280: VideoJS;
$playlistThumbnailPlayIconFontSize1280: 20px;
$playlistThumbnailPlayIconHeight1280: 50px;
$playlistThumbnailPlayIconMargin1280: -25px 0 0 -25px;
$playlistThumbnailPlayIconLeft1280: 50%;
$playlistThumbnailPlayIconLineHeight1280: 50px;
$playlistThumbnailPlayIconPosition1280: absolute;
$playlistThumbnailPlayIconTextAlign1280: center;
$playlistThumbnailPlayIconTopPosition1280: 50%;
$playlistThumbnailPlayIconWidth1280: 50px;

$playlistItemDescriptionColor1280: #333;
$playlistItemDescriptionFontSize1280: 16px;
$playlistItemDescriptionHeight1280: auto;
$playlistItemDescriptionLineHeight1280: normal;
$playlistItemDescriptionMargin1280: 0 0 30px;
$playlistItemDescriptionOverflow1280: visible;
$playlistItemDescriptionPadding1280: 0;
$playlistItemDescriptionPosition1280: relative;
$playlistItemDescriptionTopPosition1280: 0;

$playlistDurationBottomPosition1280: 0;
$playlistDurationLeftPosition1280: 0;
$playlistDurationRightPosition1280: inherit;
$playlistDurationTopPosition1280: inherit;

// Video Count, Controls and Container
$playlistInfoBkgColor1280: #ddd;
$playlistInfoDisplay1280: block;
$playlistInfoHeight1280: auto;
$playlistInfoLineHeight1280: 1;
$playlistInfoMargin1280: 0 auto;
$playlistInfoPosition1280: relative;
$playlistInfoTextAlign1280: center;
$playlistInfoWidth1280: 1180px;

$playlistControlBkgColor1280: none;
$playlistControlsDisplay1280: inline-block;
$playlistNextControlBorder1280: 1px solid #333;
$playlistNextControlRightPosition1280: 0px;
$playlistPrevControlBorder1280: 1px solid #333;
$playlistPrevControlLeftPosition1280: 0px;
$playlistControlsColor1280: $clientPrimaryBrandColor;
$playlistControlsDisabledBkgColor1280: none;
$playlistControlsDisabledColor1280: #666;
$playlistControlHeight1280: 22px;
$playlistControlWidth1280: 30px;
$playlistControlsPadding1280: 3px 0 0;
$playlistControlsPosition1280: relative;

$playlistItemCountFontColor1280: #333;
$playlistItemCountDisplay1280: inline-block;
$playlistItemCountPadding1280: 10px 30px;
$playlistItemCountTextAlignment1280: center;
$playlistItemCountTextTransform1280: uppercase;
